<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Wypełnij formularz</h1>
</div>

<form role="form" action="/save" method="post">
    <h3>Informacje podstawowe</h3>
    <b>Płeć:</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="plec" value="Kobieta" checked>Kobieta
        </label>
        <label class="radio-inline">
          <input type="radio" name="plec" value="Mężczyzna">Mężczyzna
        </label>
    </div>
    <div class="form-group">
        <label for="age">Wiek:</label>
        <select class="form-control" id="age" name="age" required>
          <option>18-24</option>
          <option>25-34</option>
          <option>35-44</option>
          <option>45-54</option>
          <option>55-64</option>
          <option>65+</option>
        </select>
    </div>
    <div class="form-group">
      <label for="place">Miejsce zamieszkania:</label>
      <select class="form-control" id="place" name="place" required>
        <option>Wieś</option>
        <option>Miasto do 19 999</option>
        <option>Miasto 20 000 - 49 999</option>
        <option>Miasto 50 000 - 99 999</option>
        <option>Miasto 100 000 - 499 999</option>
        <option>Miasto 500 000 i więcej mieszkańców</option>
      </select>
    </div>
    <div class="form-group">
      <label for="income">Dochód na osobę w gospodarstwie domowym:</label>
      <select class="form-control" id="income" name="income">
        <option>Odmawiam odpowiedzi</option>
        <option>do 999 zł</option>
        <option>1000 - 1499 zł</option>
        <option>1500 - 1999 zł</option>
        <option>2000 - 2499 zł</option>
        <option>2500 - 2999 zł</option>
        <option>3000 + zł</option>
      </select>
    </div>
    <b>Jak oceniasz swój stan zdrowia?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="health" value="Dobrze" checked>Dobrze
        </label>
        <label class="radio-inline">
          <input type="radio" name="health" value="Tak sobie">Tak sobie
        </label>
        <label class="radio-inline">
          <input type="radio" name="health" value="Źle">Źle
        </label>
    </div>
    <h3>Pytania dotyczące przyjmowanych leków</h3>
    <div class="form-group">
      <label for="q1"><h4><b>1. Co Pan(i) robi, gdy czuje się chory(a) bądź ma jakieś dolegliwości?</b></h4></label>
      <select class="form-control" id="q1" name="q1">
        <option>Ograniczam się do zastosowania wypróbowanych domowych sposobów</option>
        <option>Od razu idę do lekarza i stosuję przepisane leki</option>
        <option>Nie idę do lekarza, stosuję leki lub środki farmaceutyczne dostępne bez recepty</option>
        <option>Korzystam z usług medycyny niekonwencjonalnej</option>
        <option>Nic nie robię - staram się przeczekać dolegliwości</option>
        <option>Postępuję w inny sposób</option>
      </select>
    </div>
    <h4><b>2. Czy w ciągu ostatnich 12 miesięcy stosował(a) Pan(i) leki lub środki dostępne na receptę?</b></h4>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q2" value="TAK, wielokrotnie" checked>TAK, wielokrotnie
        </label>
        <label class="radio-inline">
          <input type="radio" name="q2" value="TAK, kilka razy">TAK, kilka razy
        </label>
        <label class="radio-inline">
          <input type="radio" name="q2" value="TAK, 1-2 razy">TAK, 1-2 razy
        </label>
        <label class="radio-inline">
            <input type="radio" name="q2" value="NIE, ani razu">NIE, ani razu
          </label>
    </div>
    <h4><b>3. Czy w ciągu ostatnich 12 miesięcy stosował(a) Pan(i) dostępne bez recepty:</b></h4>
    <b>środki przeciwbólowe i przeciwzapalne?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q3" value="TAK, wielokrotnie" checked>TAK, wielokrotnie
        </label>
        <label class="radio-inline">
          <input type="radio" name="q3" value="TAK, kilka razy">TAK, kilka razy
        </label>
        <label class="radio-inline">
          <input type="radio" name="q3" value="TAK, 1-2 razy">TAK, 1-2 razy
        </label>
        <label class="radio-inline">
            <input type="radio" name="q3" value="NIE, ani razu">NIE, ani razu
          </label>
    </div>
    <b>leki na przeziębienie, ból gardła, grypę?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q4" value="TAK, wielokrotnie" checked>TAK, wielokrotnie
        </label>
        <label class="radio-inline">
          <input type="radio" name="q4" value="TAK, kilka razy">TAK, kilka razy
        </label>
        <label class="radio-inline">
          <input type="radio" name="q4" value="TAK, 1-2 razy">TAK, 1-2 razy
        </label>
        <label class="radio-inline">
            <input type="radio" name="q4" value="NIE, ani razu">NIE, ani razu
          </label>
    </div>
    <b>witaminy, minerały, środki zwiększające odporność organizmu?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q5" value="TAK, wielokrotnie" checked>TAK, wielokrotnie
        </label>
        <label class="radio-inline">
          <input type="radio" name="q5" value="TAK, kilka razy">TAK, kilka razy
        </label>
        <label class="radio-inline">
          <input type="radio" name="q5" value="TAK, 1-2 razy">TAK, 1-2 razy
        </label>
        <label class="radio-inline">
            <input type="radio" name="q5" value="NIE, ani razu">NIE, ani razu
          </label>
    </div>
    
    <div class="form-group">
        <label for="q12"><h4><b>4. Ile przeciętnie wydaje Pan(i) w ciągu miesiąca na leki bez recepty i suplementy diety?</b></h4></label>
        <select class="form-control" id="q12" name="q12">
          <option>0 zł</option>
          <option>do 19 zł</option>
          <option>20 - 49 zł</option>
          <option>50 - 99 zł</option>
          <option>powyżej 100 zł</option>
          <option>powyżej 200 zł</option>
        </select>
    </div>

    <h4><b>5. Czy stosując jakiś lek dostępny bez recepty po raz pierwszy...</b></h4>
    <b>czyta Pan(i) dołączoną do niego ulotkę informacyjną? </b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q13" value="TAK, zawsze" checked>TAK, zawsze
        </label>
        <label class="radio-inline">
          <input type="radio" name="q13" value="TAK, często">TAK, często
        </label>
        <label class="radio-inline">
          <input type="radio" name="q13" value="TAK, rzadko">TAK, rzadko
        </label>
        <label class="radio-inline">
            <input type="radio" name="q13" value="NIE, nigdy">NIE, nigdy
          </label>
    </div>
    <b>konsultuje Pan(i) jego stosowanie z lekarzem lub farmaceutą? </b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q14" value="TAK, zawsze" checked>TAK, zawsze
        </label>
        <label class="radio-inline">
          <input type="radio" name="q14" value="TAK, często">TAK, często
        </label>
        <label class="radio-inline">
          <input type="radio" name="q14" value="TAK, rzadko">TAK, rzadko
        </label>
        <label class="radio-inline">
            <input type="radio" name="q14" value="NIE, nigdy">NIE, nigdy
          </label>
    </div>
    <b>sprawdza Pan(i) opinie i informacje o jego działaniu w internecie?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q15" value="TAK, zawsze" checked>TAK, zawsze
        </label>
        <label class="radio-inline">
          <input type="radio" name="q15" value="TAK, często">TAK, często
        </label>
        <label class="radio-inline">
          <input type="radio" name="q15" value="TAK, rzadko">TAK, rzadko
        </label>
        <label class="radio-inline">
            <input type="radio" name="q15" value="NIE, nigdy">NIE, nigdy
          </label>
    </div>
    <div class="form-group">
        <label for="q16"><h4><b>6. Czy Pana/Pani zdaniem stosowanie leków i środków dostępnych bez recepty może być szkodliwe dla zdrowia?
        </b></h4></label>
        <select class="form-control" id="q16" name="q16">
          <option>Zdecydowanie tak</option>
          <option>Raczej tak</option>
          <option>Trudno powiedzieć</option>
          <option>Raczej nie</option>
          <option>Zdecydowanie nie</option>
        </select>
    </div>
    
    <button type="submit" class="btn btn-default">Wyślij</button>
</form>

{% endblock %}

