<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Informacje podstawowe</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Data</th>
        <th>Płeć</th>
        <th>Wiek</th>
        <th>Miejsce zamieszkania</th>
        <th>Dochód</th>
        <th>Stan zdrowia</th>
    </tr>
    </thead>

    <tbody>
    {% for element in formdata %}
    <tr>
        <td>{{ element.id }}</td>
        <td>{{ element.created_at}}</td>
        <td>{{ element.plec }}</td>
        <td>{{ element.age }}</td>
        <td>{{ element.place }}</td>
        <td>{{ element.income }}</td>
        <td>{{ element.health }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}